streamlit
python-docx
PyMuPDF
scikit-learn
spacy
groq
fuzzywuzzy 
docx2txt         
PyPDF2                                                                                                           
nltk